.about {}

.about__header {
    color: #273F46;
}

.about__paragraph {}

.article {
    font-family: arial;
}

.article__header {
    color: #273F46
}

.article__link {
    color: #4A7C79;
    text-decoration: none;
}

.article__navigation {
    color: #69B1AD;
    text-decoration: none;
}

.article__navigation--list {
list-style-image: url('img/right-arrow-306-886173.png');
}

.footer {
    font-family: arial;
    color: #273F46;
}

.footer__paragraph {
    color: #776885;
}

.footer__link {
    color: #776885;
    text-decoration: none;
}

.header {
    font-family: arial;
    text-align: center;
    background: rgb(185, 228, 231);
}

.header__title {
    color: darkslategray;
}

.header__navigation--link {
    color: #776885;
    text-decoration: none;
}

.main {
    background-blend-mode: lighten;
    font-family: arial;
}

.meme {
    text-align: center
}

.post {}

.post__header {
    color: lightskyblue
}

.post__paragraph {}

.post__paragraph--link {
    color: #776885;
}

.section {}

.section__header {
    color: #273F46;
}

.section__paragraph {}